/* Headings */
.Heading {
  height: 90vh; /* Use 80% of the viewport height */
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  color: rgb(205, 140, 75);
  text-align: center; /* Center text alignment */
}

.Heading h1 {
  font-style: italic;
  color: rgb(204, 135, 135);
  font-size: 6.5rem;
  margin-bottom: 0;
}

.Heading h3 {
  font-size:1.2rem;
  margin-top: 3px;
}

.Contact {
    min-height: 40vh;
    width: 100vw;
    padding: 7% 8%;
    display: flex;
    flex-direction: column;
    color: rgb(199, 147, 95);
  }
  .Contact h1{
    font-size: larger;
    padding-bottom: 2%;;
  }
  .Contact p{
    color:rgb(204, 135, 135);
  }
  .Contact input{
    border: none;
    background-color: #4d3b3b;
    color: rgb(204, 135, 135);
    width: 12%;
    margin-bottom: 20px;
  }
  .Contact textarea {
    border: none;
    background-color: #4d3b3b;
    color: rgb(204, 135, 135);
    width: 30%;
    margin-bottom: 10px;
  }
  
  .comment-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .comment-area {
    display: flex;
    flex-direction: column; /* Change to column */
    gap: 10px; /* Space between textarea and button */
  }
  
  .comment {
    height: 170px;
  }
  
  .commentButton {
    width: 5%;
    padding: 5px 10px;
    background-color: #4d3b3b;
    color: rgb(199, 147, 95);
    border-radius: 2px;
    border: none;
    cursor: pointer;
  }
  
  .commentButton:hover {
    background-color: #3a2c2c;
  }
  /* Responsive Design */
  @media (max-width: 768px) {
    .Contact {
      padding: 5% 4%;
    }
  
    .Contact input,
    .Contact textarea {
      width: 100%;
    }
  
    .comment-area {
      flex-direction: column;
    }
  }
  